.ajuda {
  pointer-events: none;
}

.dropdown-menu-md {
  min-width: 12.5rem;
  border: 0.3rem;
}

.mt--45 {
  margin-top: -45px !important;
}

.mt--450 {
  margin-top: -450px !important;
}

.fs-11 {
  font-size: 11;
}

.btn-std-case {
  text-transform: unset !important;
}