.ajuda {
  pointer-events: none;
}

.dropdown-menu-md {
  min-width: 12.5rem;
  border: 0.3rem;
}

.margin-tl {
  margin-top: 0.45rem !important;
  margin-left: 1rem !important;
}

.margin-tr {
  margin-top: 0.45rem !important;
  margin-right: 1rem !important;
}

.margin-b {
  margin-bottom: 1.5rem !important;
}

.btn-std-case {
  text-transform: unset !important;
}

.btn-sm {
  height: auto;
}